<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="spider" class="me.stevenkin.blogspider.core.Spider" scope="prototype" init-method="init">
        <property name="httpClient" ref="httpClient"/>
        <property name="requestConfig" ref="requestConfig"/>
        <property name="parserList">
            <list>
                <ref bean="segmentfaultParser" />
            </list>
        </property>
        <property name="pipeLineList">
            <list>
                <ref bean="consolePipeLine" />
            </list>
        </property>
    </bean>

    <bean id="consolePipeLine" class="me.stevenkin.blogspider.pipeline.ConsolePipeLine">
        <property name="linkRegex" value="^https://segmentfault.com"/>
    </bean>

    <bean id="segmentfaultParser" class="me.stevenkin.blogspider.parsers.SegmentfaultParser">
        <property name="webSiteRegex" value="^https://segmentfault.com"/>
    </bean>

</beans>